@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: rgba(225, 24, 24, 0.938);
    --cor-secundaria-: rgb(40, 53, 107);
    --cor-terciaria: rgb(51, 37, 202);
    --cor-quartenaria: #ffb703ff;
    --cor-quintaria: rgb(21, 190, 86);
    --cor-quinaria:"Poetsen One", sans-serif;
    --cor-senaria:"Montserrat", sans-serif; 
}

body{
    background: var(--azul-oscuro);
    color: var(--amarillo);
    font-family: var(--fuente-texto);
   
}

.titulo-principal{
    font-family: var(--fuente-titulo);


}
.principal-{


 
.principal-capa
} 